@import url(https://fonts.bunny.net/css?family=bungee-inline:400|electrolize:400);

/* General styling */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

a,
button,
input,
select {
  pointer-events: auto;
}

h1 {
  font-family: 'Bungee Inline', display, sans-serif;
}

/* Overwriting the bootstrap styles */
h2, p.lead, button, .btn, .electro-text {
  font-family: 'Electrolize', sans-serif !important;
}

.btn-primary {
  background-color: #1da313 !important;
  color: white !important;
  border-color: black !important;
  border-width: 0.2rem 0.3rem 0.4rem 0.2rem !important;

  transition: all .2s ease-in-out !important;
}

.btn-primary:hover {
  background-color: #38cd30 !important;
  color: #212529 !important;
  border-width: 0.1rem !important;
  transform: scale(1.1) !important;
  border-color: #000 !important;
  font-weight: bold !important;
}

.text-info {
  color: #1da313 !important;
}

/* Style the initial overlay */
#overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
}

#overlay #title {
  position: absolute;
  bottom: 8rem;
}

#overlay #start {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

#overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

/* Style carSelect radios */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
  object-fit: contain;
  width: 8rem;
  height: 8rem;

  background-color: #3f3f3f;

  transition: all .2s ease-in-out;
}

[type=radio]:checked + img {
  outline: 0.5rem solid #1da313;
}

[type=radio]:not(:checked):hover + img {
  box-shadow: rgba(29, 163, 19, 0.53) 0 8px 24px;
}

/* Style the instructions */
#info {
  width: 80vw;
}

#notSupported {
  width: 50%;
  margin: auto;
  background-color: #f00;
  margin-top: 20px;
  padding: 10px;
}

/* Roadkit tile editor styles */

#closeEditor {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

#roadPieces {
  display: flex;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 20vh;
  width: 50vw;

  overflow-x: scroll;
  overflow-y: hidden;
}

#roadPieces button {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#roadPieces button img {
  height: 50%;
  margin: 0 auto;
}

#editInfo {
  position: fixed;
  left: 1rem;
  top: 50%;
  transform: translate(0, -50%);

  max-width: 35vw;

  background-color: hsla(210, 11%, 15%, 0.75);
  backdrop-filter: blur(20px);
}

#editInfo button {
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  float: right;
}

#editInfo * {
  background-color: hsla(210, 11%, 15%, 0);
}

/* Interactable modal styles */
.modal {
  pointer-events: none;
}

.modal.show {
  pointer-events: none;
}

.modal * {
  pointer-events: none;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 53em) {
  #overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #overlay #title {
    position: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #overlay #start {
    position: initial;
  }

  #info {
    width: 90vw;
  }

  #closeEditor {
    left: 50%;
    transform: translateX(-50%);
  }
  #roadPieces {
    top: 4rem;
    width: 90vw;
  }
  #editInfo {
    left: 50%;
    top: initial;
    bottom: 0;
    transform: translate(-50%, 0);

    max-width: initial;
    width: 98vw;
  }
}